
       /*Style Background*/
        body{
            background-image: url("../img/fond.png"); 
            background-size: cover;
        }
        /*Style HOME*/
        .cv{
            position : absolute;
            left: 32%;
            font-family: Brush Script MT;
            color: white;
        }
        .nom{
            position : absolute;
            left: 52%;
            font-family: Brush Script MT;
            color: white;
        }
        .headerHome{
            list-style-type: none;
            position: absolute;
            top :66%;
            left:32%;
        }
        .headerHome li{
            display: inline-block;
        }
        .headerHome li a{
            font-family: Calibri;
            text-decoration : none;
            color: white;
            padding : 5px 15px;
            border: 1px solid;
        }
        .headerHome li a:hover{
            background-color : #DFF1F4;
            color: black;
        }
        .sary{
            position: absolute;
            top :20%;
            left:43%;
            -webkit-border-radius:50px;
            -moz-border-radius:50px;
            border-radius:50px;
        }
        .quote{
            color: white;
            position: absolute;
            left: 32%;
            top:80%;
        }
        .header{
            float: right;
        }
        /*Style HEADER Sauf HOME*/
        .header li{
           display: inline-block;
        }
        .header li a{
            font-family: Calibri;
            text-decoration : none;
            color: white;
            padding : 5px 15px;
            border: 1px solid;
        }
        .header li a:hover{
            background-color : #DFF1F4;
            color: black;
        }
        /*Style INFORMATION*/
        .information{
            position: absolute;
            top :13%;
            left: 43%;
            color: white;
            font-family: Georgia Pro;
        }
        .listInfo{
            position: absolute;
            top :40%;
            left: 25%;
            color: white;
            font-family: Georgia Pro;
        }
        .listInfo li{
            padding: 10px;
        } 
        .dp{
            position: absolute;
            top :40%;
            left: 40%;
            color: white;
            font-family: Georgia Pro;
        }
        .dp p{
            padding: 2.5px;
        }
        .donnée{
            position: absolute;
            top :40%;
            left: 45%;
            color: white;
            font-family: Georgia Pro;
        }
        .donnée p{
            padding: 2.5px;
        }
        .etoile{
            position: absolute;
            top :71%;
            left: 53%;
            color: white;
            font-family: Georgia Pro;
        }
        .etoile p{
            padding: 2.5px;
        }
        /*Style FORMATION et EXPERIENCE*/
        .headline{
        position: absolute;
        top :13%;
        left: 43%;
        color: white;
        font-family: Georgia Pro;
        }   
        .list{
        position: absolute;
        top :40%;
        left: 15%;
        color: white;
        font-family: Georgia Pro;
        }
        .list li{
        padding: 10px;
        } 
        